.python .hll { background-color: #ffffcc }
.python  { background: #eeffcc; }
.python .c { color: #408090; font-style: italic } /* Comment */
.python .err { border: 1px solid #FF0000 } /* Error */
.python .k { color: #007020; font-weight: bold } /* Keyword */
.python .o { color: #666666 } /* Operator */
.python .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.python .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.python .cp { color: #007020 } /* Comment.Preproc */
.python .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.python .c1 { color: #408090; font-style: italic } /* Comment.Single */
.python .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.python .gd { color: #A00000 } /* Generic.Deleted */
.python .ge { font-style: italic } /* Generic.Emph */
.python .gr { color: #FF0000 } /* Generic.Error */
.python .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.python .gi { color: #00A000 } /* Generic.Inserted */
.python .go { color: #333333 } /* Generic.Output */
.python .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.python .gs { font-weight: bold } /* Generic.Strong */
.python .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.python .gt { color: #0044DD } /* Generic.Traceback */
.python .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.python .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.python .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.python .kp { color: #007020 } /* Keyword.Pseudo */
.python .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.python .kt { color: #902000 } /* Keyword.Type */
.python .m { color: #208050 } /* Literal.Number */
.python .s { color: #4070a0 } /* Literal.String */
.python .na { color: #4070a0 } /* Name.Attribute */
.python .nb { color: #007020 } /* Name.Builtin */
.python .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.python .no { color: #60add5 } /* Name.Constant */
.python .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.python .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.python .ne { color: #007020 } /* Name.Exception */
.python .nf { color: #06287e } /* Name.Function */
.python .nl { color: #002070; font-weight: bold } /* Name.Label */
.python .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.python .nt { color: #062873; font-weight: bold } /* Name.Tag */
.python .nv { color: #bb60d5 } /* Name.Variable */
.python .ow { color: #007020; font-weight: bold } /* Operator.Word */
.python .w { color: #bbbbbb } /* Text.Whitespace */
.python .mb { color: #208050 } /* Literal.Number.Bin */
.python .mf { color: #208050 } /* Literal.Number.Float */
.python .mh { color: #208050 } /* Literal.Number.Hex */
.python .mi { color: #208050 } /* Literal.Number.Integer */
.python .mo { color: #208050 } /* Literal.Number.Oct */
.python .sa { color: #4070a0 } /* Literal.String.Affix */
.python .sb { color: #4070a0 } /* Literal.String.Backtick */
.python .sc { color: #4070a0 } /* Literal.String.Char */
.python .dl { color: #4070a0 } /* Literal.String.Delimiter */
.python .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.python .s2 { color: #4070a0 } /* Literal.String.Double */
.python .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.python .sh { color: #4070a0 } /* Literal.String.Heredoc */
.python .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.python .sx { color: #c65d09 } /* Literal.String.Other */
.python .sr { color: #235388 } /* Literal.String.Regex */
.python .s1 { color: #4070a0 } /* Literal.String.Single */
.python .ss { color: #517918 } /* Literal.String.Symbol */
.python .bp { color: #007020 } /* Name.Builtin.Pseudo */
.python .fm { color: #06287e } /* Name.Function.Magic */
.python .vc { color: #bb60d5 } /* Name.Variable.Class */
.python .vg { color: #bb60d5 } /* Name.Variable.Global */
.python .vi { color: #bb60d5 } /* Name.Variable.Instance */
.python .vm { color: #bb60d5 } /* Name.Variable.Magic */
.python .il { color: #208050 } /* Literal.Number.Integer.Long */